<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || "Page"}}</title>
  
  <script src="https://cdn.tailwindcss.com"></script>
  
  <style>
    body {
      background-color: #f3f4f6; /* Fond gris clair */
    }
  </style>
</head>
<body class="min-h-screen flex flex-col justify-center">
    @include('partials/nav')

    <main class="mx-auto max-w-5xl px-6 py-10">
      {{{ await $slots.main() }}}
    </main>

    @include('partials/footer')
</body>
</html>