@component("layouts/app", {title: "Accueil"})
@slot('main')

  <h1 class="text-3xl font-bold">Bienvenue sur le système de QRShort Url</h1>
  <p class="mt-2 text-slate-600">
    Veuillez vous authentifier...
  </p>
  @endslot
@end
