<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR URL Shortener</title>
  
  <script src="https://cdn.tailwindcss.com"></script>
  
  <style>
    body {
      background-color: #f3f4f6; /* Fond gris clair */
    }
  </style>
</head>
<body class="min-h-screen flex flex-col justify-center">

<nav class="bg-indigo-600 text-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between items-center h-16">
        <div class="flex items-center space-x-2">
          <span class="text-2xl font-bold tracking-tight">QR<span class="text-indigo-200">Short</span></span>
        </div>
        
        <div class="flex space-x-6 font-medium">
          <a href="/" class="hover:text-indigo-200 transition">Accueil</a>
          <a href="/goToUrl" class="hover:text-indigo-200 transition">Liste</a>
        </div>
      </div>
    </div>
  </nav>

<div class="max-w-lg mx-auto mt-10 p-6 bg-white rounded-lg shadow">
  <h2 class="text-2xl font-bold mb-4">Créer un raccourci</h2>
  <form action="/shorten" method="POST">
    {{ csrfField() }}
    <div class="mb-4">
      <label>Entrez URL complète</label>
      <input type="url" name="url" required class="w-full border p-2">
    </div>
    <div class="mb-4">
      <label>Entrer le shorturl au choix (Slug)</label>
      <input type="text" name="short_slug" required class="w-full border p-2">
    </div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Envoyer l'URL</button>
  </form>
</div>

</body>
</html>
